9-7 google Firebase ESP8266 Arduino IoT Led/node-red program.txt
[{"id":"9721c594.057be8","type":"nora-light","z":"2b980664.b8b6ba","devicename":"Àüµî","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Lounge","name":"Àüµî","nora":"6080521f.6543cc","topic":"","onvalue":"ÄÑ","onvalueType":"str","offvalue":"²¨","offvalueType":"str","x":165.01734924316406,"y":505.0104064941406,"wires":[["572354c7.93331c"]]},{"id":"b56c2ee5.2bc4d","type":"mqtt out","z":"2b980664.b8b6ba","name":"","topic":"/i2r_sonoff/outTopic","qos":"","retain":"","broker":"83f8dd2.b554b2","x":622.0173377990723,"y":509.0103988647461,"wires":[]},{"id":"451536cf.6c8428","type":"function","z":"2b980664.b8b6ba","name":"on","func":"msg.payload=\"{\\\"chipid\\\":\\\"f7c3b3\\\",\\\"power\\\":1}\";\nreturn msg;","outputs":1,"noerr":0,"x":438.01733779907227,"y":489.01038360595703,"wires":[["b56c2ee5.2bc4d"]]},{"id":"71435303.0322ac","type":"function","z":"2b980664.b8b6ba","name":"off","func":"msg.payload=\"{\\\"chipid\\\":\\\"f7c3b3\\\",\\\"power\\\":0}\";\nreturn msg;","outputs":1,"noerr":0,"x":438.01733779907227,"y":529.010383605957,"wires":[["b56c2ee5.2bc4d"]]},{"id":"572354c7.93331c","type":"switch","z":"2b980664.b8b6ba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ÄÑ","vt":"str"},{"t":"eq","v":"²¨","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300.0173454284668,"y":504.01040267944336,"wires":[["451536cf.6c8428"],["71435303.0322ac"]]},{"id":"6080521f.6543cc","type":"nora-config","z":"","name":"Home config","group":"","notify":false},{"id":"83f8dd2.b554b2","type":"mqtt-broker","z":"","name":"","broker":"mqtt-dashboard.com","port":"1883","tls":"357016bc.6a8a3a","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"357016bc.6a8a3a","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true}]