9-5-3-aws_sonoff/9-5-3 node-red.txt
[{"id":"bc3fa297.54e9f","type":"worldmap","z":"fd086553.e9e568","name":"","lat":"37.6547","lon":"126.7944","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","path":"/worldmap","x":763.0130004882812,"y":128.00000190734863,"wires":[]},{"id":"b62ea562.513038","type":"mongodb2 in","z":"fd086553.e9e568","service":"_ext_","configNode":"386cfc4f.b2bb54","name":"dbTest Data","collection":"","operation":"","x":468.01300048828125,"y":128.00000190734863,"wires":[["f52a2d22.207cb"]]},{"id":"ea9c19c1.2f9a08","type":"function","z":"fd086553.e9e568","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : msg.payload.value.chip};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":198.01300048828125,"y":348.00000190734863,"wires":[["fb97811.ce5428"]]},{"id":"8ebcd5a4.8dd1e8","type":"inject","z":"fd086553.e9e568","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":148.01300048828125,"y":88.00000190734863,"wires":[["c5a64951.760208"]]},{"id":"f52a2d22.207cb","type":"function","z":"fd086553.e9e568","name":"배열처리","func":"/*\nvar newMsg={};\nvar on,color;\nif(msg.payload.on==1) {\n    on=\"power-on\";\n    color=\"red\";\n}\nelse {\n    on=\"power-off\";\n    color=\"black\";\n}\nnewMsg.payload =  {\n    name:msg.payload.chip,\n    lat:msg.payload.lat,\n    lon:msg.payload.lon,\n    icon:on,\n    iconColor:color,\n};\nreturn newMsg;\n*/\nvar newMsg={};\nvar arrayMsg=[];\nvar on;\nvar color;\nfor (var i = 0; i < msg.payload.length; i++) {\n    //arrayMsg.push(msg.payload[i]);\n    if(msg.payload[i].on==1) {\n        on=\"power-on\";\n        color=\"red\";\n    }\n    else {\n        on=\"power-off\";\n        color=\"black\";\n    }\n    newMsg=  {\n        name:msg.payload[i].chip,\n        lat:msg.payload[i].lat,\n        lon:msg.payload[i].lon,\n        icon:on,\n        iconColor:color,\n    };\n    arrayMsg.push(newMsg);\n}\nmsg.payload=arrayMsg;\nreturn msg;","outputs":1,"noerr":0,"x":623.0130004882812,"y":128.00000190734863,"wires":[["bc3fa297.54e9f"]]},{"id":"1d9208cc.ec0967","type":"mqtt out","z":"fd086553.e9e568","name":"","topic":"inTopic","qos":"","retain":"","broker":"6f84ec15.049184","x":638.0130004882812,"y":348.00000190734863,"wires":[]},{"id":"70a9a330.b33b5c","type":"function","z":"fd086553.e9e568","name":"","func":"msg.payload=\"{'chip':'\"+msg.payload.chip+\"','on':\"+msg.payload.on+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":488.01300048828125,"y":348.00000190734863,"wires":[["1d9208cc.ec0967","eac8fc6e.10543"]]},{"id":"c5a64951.760208","type":"function","z":"fd086553.e9e568","name":"find.toArray","func":"var newMsg = {};\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'find.toArray';\n//newMsg.payload    = { 'on' : 0 };\nnewMsg.projection = { 'on' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":308.01300048828125,"y":128.00000190734863,"wires":[["b62ea562.513038"]]},{"id":"ea3d2abe.7af7a8","type":"worldmap in","z":"fd086553.e9e568","name":"","path":"/worldmap","x":138.01300048828125,"y":208.00000190734863,"wires":[["12969abe.f70945"]]},{"id":"a7af5910.c0aab8","type":"mongodb2 in","z":"fd086553.e9e568","service":"_ext_","configNode":"386cfc4f.b2bb54","name":"dbTest Data","collection":"","operation":"","x":448.01300048828125,"y":208.00000190734863,"wires":[["38a1651b.f956ea"]]},{"id":"12969abe.f70945","type":"function","z":"fd086553.e9e568","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : msg.payload.name};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":298.01300048828125,"y":208.00000190734863,"wires":[["a7af5910.c0aab8"]]},{"id":"38a1651b.f956ea","type":"function","z":"fd086553.e9e568","name":"on->off off->on findOneAndUpdate","func":"var newMsg = {};\nvar on=0;\nif(msg.payload.on==0)\n    on=1;\nelse\n    on=0;\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : msg.payload.chip}, {$set:{ 'on':on}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":698.0130004882812,"y":208.00000190734863,"wires":[["d1a4d9f7.54c1a8"]]},{"id":"d1a4d9f7.54c1a8","type":"mongodb2 in","z":"fd086553.e9e568","service":"_ext_","configNode":"386cfc4f.b2bb54","name":"dbTest Data","collection":"","operation":"","x":939.0130004882812,"y":208.00000190734863,"wires":[["e414eea2.f5e25"]]},{"id":"bd174aa8.67ee98","type":"ui_switch","z":"fd086553.e9e568","name":"","label":"switch","tooltip":"","group":"697dd47d.c261bc","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":588.0130004882812,"y":268.00000190734863,"wires":[["bac137ad.2a63c8"]]},{"id":"bac137ad.2a63c8","type":"function","z":"fd086553.e9e568","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'on':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":758.0130004882812,"y":268.00000190734863,"wires":[["d1a4d9f7.54c1a8"]]},{"id":"fb97811.ce5428","type":"mongodb2 in","z":"fd086553.e9e568","service":"_ext_","configNode":"386cfc4f.b2bb54","name":"dbTest Data","collection":"","operation":"","x":348.01300048828125,"y":348.00000190734863,"wires":[["70a9a330.b33b5c"]]},{"id":"e414eea2.f5e25","type":"link out","z":"fd086553.e9e568","name":"","links":["756a8870.ce3f28","a95f9486.3b9018"],"x":1044.0130004882812,"y":208.00000190734863,"wires":[]},{"id":"a95f9486.3b9018","type":"link in","z":"fd086553.e9e568","name":"","links":["e414eea2.f5e25"],"x":93.01300048828125,"y":348.00000190734863,"wires":[["ea9c19c1.2f9a08"]]},{"id":"756a8870.ce3f28","type":"link in","z":"fd086553.e9e568","name":"","links":["e414eea2.f5e25"],"x":173.01300048828125,"y":128.00000190734863,"wires":[["c5a64951.760208"]]},{"id":"eac8fc6e.10543","type":"debug","z":"fd086553.e9e568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":648.0130004882812,"y":428.00000190734863,"wires":[]},{"id":"386cfc4f.b2bb54","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/dbTest","name":"dbTest","options":"","parallelism":""},{"id":"6f84ec15.049184","type":"mqtt-broker","z":"","name":"","broker":"","port":"8883","tls":"4ca5e695.6d1548","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"697dd47d.c261bc","type":"ui_group","z":"","name":"Group 1","tab":"bb12ab3d.da03a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4ca5e695.6d1548","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"bb12ab3d.da03a8","type":"ui_tab","name":"Tab 7","icon":"dashboard","order":7}]