9-3-3 Node-red Program.txt
[{"id":"5ae69b0c.3e6b84","type":"mqtt out","z":"c9dee57.2bc1218","name":"","topic":"/i2r_sonoff/outTopic","qos":"","retain":"","broker":"2b8118be.c42bb8","x":855.0660743713379,"y":238.0104465484619,"wires":[]},{"id":"ec87e4f.8301518","type":"function","z":"c9dee57.2bc1218","name":"findOne","func":"var chipid=global.get(\"chipid\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chipid' : chipid};\nnewMsg.projection = { 'chipid' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":296.94455337524414,"y":239.01047229766846,"wires":[["6675129.843abec"]]},{"id":"9cea375c.420d68","type":"inject","z":"c9dee57.2bc1218","name":"","topic":"","payload":"","payloadType":"date","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"x":144.00005722045898,"y":238.96881008148193,"wires":[["ec87e4f.8301518","e431adb7.3e534"]]},{"id":"6675129.843abec","type":"mongodb2 in","z":"c9dee57.2bc1218","service":"_ext_","configNode":"a54c98a8.009c58","name":"","collection":"sonoff","operation":"","x":444.0174560546875,"y":238.01045989990234,"wires":[["d7837b0f.8ab948"]]},{"id":"7d8c39a.4daa5c8","type":"ui_text_input","z":"c9dee57.2bc1218","name":"","label":"name(chip ID)","tooltip":"","group":"2dafa05b.3baf7","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":448.0694808959961,"y":45.503496170043945,"wires":[["ce4aa27a.eedac"]]},{"id":"ce4aa27a.eedac","type":"function","z":"c9dee57.2bc1218","name":"","func":"global.set(\"chipid\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":611.0799255371094,"y":45.65280342102051,"wires":[[]]},{"id":"d7837b0f.8ab948","type":"function","z":"c9dee57.2bc1218","name":"쓰기(데이타 바뀔 때만)","func":"var oldpower=global.get(\"oldpower\")||0;\nif(msg.payload.power!==oldpower) {\n    global.set(\"oldpower\",msg.payload.power);\n    var chipid=global.get(\"chipid\")||\"\";\n    msg.payload.chipid=chipid;\n    msg.payload.act='write';\n    msg.payload.power=+msg.payload.power;\n    return msg;\n}","outputs":1,"noerr":0,"x":638.0173568725586,"y":238.01047039031982,"wires":[["5ae69b0c.3e6b84"]]},{"id":"82d0e64a.5e47b8","type":"comment","z":"c9dee57.2bc1218","name":"chipid =sonoff 에 기록되어 있음","info":"스마트폰에서 와이파이 찿기로 i2r_ap_******\n별표의 6자리 문자.\nd5a5b3","x":179.0833740234375,"y":43.50699520111084,"wires":[]},{"id":"47b9983.faaca68","type":"comment","z":"c9dee57.2bc1218","name":"Referance YouTube : https://www.youtube.com/watch?v=rDy3MZfA-oA  ","info":"","x":300.0763702392578,"y":94.51040267944336,"wires":[]},{"id":"754bb0da.b0e","type":"ui_switch","z":"c9dee57.2bc1218","name":"","label":"power","tooltip":"","group":"2dafa05b.3baf7","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":105.01742553710938,"y":151.01042938232422,"wires":[["7dccd013.2b583"]]},{"id":"7dccd013.2b583","type":"function","z":"c9dee57.2bc1218","name":"findOneAndUpdate","func":"var chipid=global.get(\"chipid\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chipid' : chipid}, {$set:{ 'power':msg.payload}} ];\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":282.01747131347656,"y":151.0104637145996,"wires":[["ded9df65.8ff3c"]]},{"id":"ded9df65.8ff3c","type":"mongodb2 in","z":"c9dee57.2bc1218","service":"_ext_","configNode":"a54c98a8.009c58","name":"","collection":"sonoff","operation":"","x":461.0174560546875,"y":152.0104637145996,"wires":[[]]},{"id":"e431adb7.3e534","type":"delay","z":"c9dee57.2bc1218","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":301.0799446105957,"y":312.69451332092285,"wires":[["d131664d.c7e308"]]},{"id":"d131664d.c7e308","type":"function","z":"c9dee57.2bc1218","name":"Rsquest Site Data","func":"var chipid=global.get(\"chipid\")||\"\";\nvar newMsg = {};\nnewMsg.payload    = { 'chipid' : chipid, 'act':'read'};\nreturn newMsg;","outputs":1,"noerr":0,"x":484.0833549499512,"y":312.7500171661377,"wires":[["5ae69b0c.3e6b84"]]},{"id":"a6b7f967.657d88","type":"mqtt in","z":"c9dee57.2bc1218","name":"","topic":"/i2r_sonoff/inTopic","qos":"2","broker":"2b8118be.c42bb8","x":150.01738357543945,"y":381.0104217529297,"wires":[["27ca747d.91b41c"]]},{"id":"27ca747d.91b41c","type":"json","z":"c9dee57.2bc1218","name":"","property":"payload","action":"","pretty":false,"x":313.01390075683594,"y":381.04860496520996,"wires":[["14ee5de6.0d1f82"]]},{"id":"40dc4d84.022404","type":"function","z":"c9dee57.2bc1218","name":"","func":"msg.payload=msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":606.1006546020508,"y":381.94789695739746,"wires":[["a6a36583.c43c58"]]},{"id":"a6a36583.c43c58","type":"ui_led","z":"c9dee57.2bc1218","group":"2dafa05b.3baf7","order":1,"label":"현장의 전등 상태","colorForValue":[{"color":"gray","value":"0","valueType":"num"},{"color":"orangered","value":"1","valueType":"num"}],"name":"","x":726.0868186950684,"y":382.35762786865234,"wires":[]},{"id":"14ee5de6.0d1f82","type":"function","z":"c9dee57.2bc1218","name":"chip ID 검사","func":"var chipid=global.get(\"chipid\")||\"\";\nif(msg.payload.chipid==chipid)\n    return msg;\nreturn msg;","outputs":1,"noerr":0,"x":461.0417823791504,"y":380.4236469268799,"wires":[["40dc4d84.022404"]]},{"id":"2b8118be.c42bb8","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a54c98a8.009c58","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/db","name":"db","options":"","parallelism":""},{"id":"2dafa05b.3baf7","type":"ui_group","z":"","name":"Sonoff DB 제어","tab":"a607f038.930cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"a607f038.930cc","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]