9-3-5 Node-red Program.txt
[{"id":"5ae69b0c.3e6b84","type":"mqtt out","z":"c9dee57.2bc1218","name":"","topic":"/i2r_sonoff/outTopic","qos":"","retain":"","broker":"2b8118be.c42bb8","x":620.0663223266602,"y":543.0104780197144,"wires":[]},{"id":"7d8c39a.4daa5c8","type":"ui_text_input","z":"c9dee57.2bc1218","name":"","label":"name(chip ID)","tooltip":"","group":"2dafa05b.3baf7","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":448.0694808959961,"y":45.503496170043945,"wires":[["ce4aa27a.eedac"]]},{"id":"ce4aa27a.eedac","type":"function","z":"c9dee57.2bc1218","name":"","func":"global.set(\"chipid\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":611.0799255371094,"y":45.65280342102051,"wires":[[]]},{"id":"82d0e64a.5e47b8","type":"comment","z":"c9dee57.2bc1218","name":"chipid  : writed in sonoff","info":"search wifi in smartphone : i2r_ap_[6 characters]\nd5a5b3","x":149.0833740234375,"y":43.50699520111084,"wires":[]},{"id":"47b9983.faaca68","type":"comment","z":"c9dee57.2bc1218","name":"Referance YouTube : https://www.youtube.com/watch?v=rDy3MZfA-oA  ","info":"","x":300.0763702392578,"y":94.51040267944336,"wires":[]},{"id":"754bb0da.b0e","type":"ui_switch","z":"c9dee57.2bc1218","name":"","label":"Chip Id power","tooltip":"","group":"2dafa05b.3baf7","order":2,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":135.01742553710938,"y":151.01042938232422,"wires":[["7dccd013.2b583"]]},{"id":"7dccd013.2b583","type":"function","z":"c9dee57.2bc1218","name":"findOneAndUpdate","func":"var chipid=global.get(\"chipid\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chipid' : chipid}, {$set:{ 'power':msg.payload}} ];\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":330.0175018310547,"y":151.01049613952637,"wires":[["ded9df65.8ff3c"]]},{"id":"ded9df65.8ff3c","type":"mongodb2 in","z":"c9dee57.2bc1218","service":"_ext_","configNode":"a54c98a8.009c58","name":"","collection":"sonoff","operation":"","x":512.0174560546875,"y":151.01052474975586,"wires":[["f34549cf.42b9f8"]]},{"id":"a92f4da2.40348","type":"ui_switch","z":"c9dee57.2bc1218","name":"","label":"Total power on/off","tooltip":"","group":"2dafa05b.3baf7","order":2,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":144.01739501953125,"y":203.01043701171875,"wires":[["5f48e98e.1123c8"]]},{"id":"5f48e98e.1123c8","type":"function","z":"c9dee57.2bc1218","name":"updateMany","func":"var chipid=global.get(\"chipid\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'updateMany';\nnewMsg.payload    = [{ 'name' : \"light\"}, {$set:{ 'power':msg.payload}} ];\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":330.0174026489258,"y":203.0104465484619,"wires":[["ded9df65.8ff3c"]]},{"id":"be35eef0.efcba","type":"function","z":"c9dee57.2bc1218","name":"find.toArray","func":"var newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = { 'name' : 'light' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":275.0173034667969,"y":274.0519790649414,"wires":[["9913e579.395fa8"]]},{"id":"9913e579.395fa8","type":"mongodb2 in","z":"c9dee57.2bc1218","service":"_ext_","configNode":"a54c98a8.009c58","name":"","collection":"sonoff","operation":"","x":433.0346374511719,"y":275.05199241638184,"wires":[["499492de.1b812c"]]},{"id":"499492de.1b812c","type":"function","z":"c9dee57.2bc1218","name":"Set Data as Global Variable","func":"for (var i = 0; i < msg.payload.length; i++) \n    global.set(\"selected\"[i], msg.payload[i]);\nglobal.set(\"no\",0);\nglobal.set(\"length\",msg.payload.length);\nreturn  msg;","outputs":1,"noerr":0,"x":642.0345916748047,"y":276.05200386047363,"wires":[["4014e0e8.8859"]]},{"id":"d1b597a1.865ad8","type":"function","z":"c9dee57.2bc1218","name":"send Global Vriable to Mqtt","func":"var no=global.get(\"no\")||0;\nvar length=global.get(\"length\")||0;\nif(no<length) {\n    msg.payload=global.get(\"selected\"[no]);\n    var newMsg ={};\n    newMsg.payload={\"chipid\":msg.payload.chipid,\"act\":\"write\",\"power\":msg.payload.power};\n    no+=1;\n    global.set(\"no\",no);\n    return  newMsg;\n}","outputs":1,"noerr":0,"x":380.0765571594238,"y":542.763861656189,"wires":[["5ae69b0c.3e6b84"]]},{"id":"9e17dca3.99bbf","type":"inject","z":"c9dee57.2bc1218","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":161.01740646362305,"y":543.0103979110718,"wires":[["d1b597a1.865ad8"]]},{"id":"f34549cf.42b9f8","type":"delay","z":"c9dee57.2bc1218","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":118.0694580078125,"y":273.68405628204346,"wires":[["be35eef0.efcba"]]},{"id":"4014e0e8.8859","type":"link out","z":"c9dee57.2bc1218","name":"","links":["60dcfa0b.b98c94"],"x":805.0729789733887,"y":276.5243263244629,"wires":[]},{"id":"a12411dd.2c2c4","type":"worldmap","z":"c9dee57.2bc1218","name":"","lat":"37.6","lon":"126.7","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","path":"/worldmap","x":353.07301330566406,"y":354.18762969970703,"wires":[]},{"id":"bf042e66.ba3e8","type":"function","z":"c9dee57.2bc1218","name":"Draw world","func":"var no=global.get(\"no\")||0;\nvar length=global.get(\"length\")||0;\nvar newMsg ={};\nvar retMsg =[];\n\nfor (var i = 0; i < length; i++) {\n    msg.payload=global.get(\"selected\"[i]);\n    var color;\n    if(msg.payload.power==1)\n        color = 'red';\n    else\n        color = 'black';\n    newMsg.payload =  {\n        name:msg.payload.chipid,\n        lat:msg.payload.lat,\n        lon:msg.payload.lon,\n        icon:\"power-off\",\n        iconColor:color\n    };\n    retMsg.push(newMsg.payload);\n}\nmsg.payload = retMsg;\nreturn  msg;\n","outputs":1,"noerr":0,"x":201.0174560546875,"y":355.0104331970215,"wires":[["a12411dd.2c2c4"]]},{"id":"60dcfa0b.b98c94","type":"link in","z":"c9dee57.2bc1218","name":"","links":["4014e0e8.8859"],"x":88.08335304260254,"y":352.8611488342285,"wires":[["bf042e66.ba3e8"]]},{"id":"d21500f4.50784","type":"worldmap in","z":"c9dee57.2bc1218","name":"","path":"/worldmap","x":134.07642364501953,"y":436.13891410827637,"wires":[["a0bd014d.1b46f"]]},{"id":"a0bd014d.1b46f","type":"function","z":"c9dee57.2bc1218","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'db';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chipid' : msg.payload.name};\nnewMsg.projection = { 'chipid' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":288.0174102783203,"y":436.0103950500488,"wires":[["7754f5cf.5b772c"]]},{"id":"7754f5cf.5b772c","type":"mongodb2 in","z":"c9dee57.2bc1218","service":"_ext_","configNode":"a54c98a8.009c58","name":"","collection":"sonoff","operation":"","x":440.0173568725586,"y":436.01039695739746,"wires":[["5512c59.eaea83c"]]},{"id":"5512c59.eaea83c","type":"function","z":"c9dee57.2bc1218","name":"Update Power Data ","func":"if(msg.payload.power==1)\n    msg.payload.power=0;\nelse\n    msg.payload.power=1;\nvar newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chipid' : msg.payload.chipid}, {$set:{ 'power':msg.payload.power}} ];\nnewMsg.projection = { 'chipid' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":624.0833435058594,"y":436.7639636993408,"wires":[["33f8fb6e.bb7ad4"]]},{"id":"33f8fb6e.bb7ad4","type":"mongodb2 in","z":"c9dee57.2bc1218","service":"_ext_","configNode":"a54c98a8.009c58","name":"","collection":"sonoff","operation":"","x":800.0173225402832,"y":436.01048278808594,"wires":[["be35eef0.efcba"]]},{"id":"2b8118be.c42bb8","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2dafa05b.3baf7","type":"ui_group","z":"","name":"Sonoff DB Á¦¾î","tab":"a607f038.930cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"a54c98a8.009c58","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/db","name":"db","options":"","parallelism":""},{"id":"a607f038.930cc","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]