9-3-4 Node-red Program .txt
[{"id":"5ae69b0c.3e6b84","type":"mqtt out","z":"c9dee57.2bc1218","name":"","topic":"/i2r_sonoff/outTopic","qos":"","retain":"","broker":"2b8118be.c42bb8","x":477.0662536621094,"y":355.0104522705078,"wires":[]},{"id":"754bb0da.b0e","type":"ui_switch","z":"c9dee57.2bc1218","name":"","label":"Chip Id power","tooltip":"","group":"2dafa05b.3baf7","order":2,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":135.01742553710938,"y":151.01042938232422,"wires":[["7dccd013.2b583"]]},{"id":"7dccd013.2b583","type":"function","z":"c9dee57.2bc1218","name":"findOneAndUpdate","func":"var chipid=global.get(\"chipid\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chipid' : chipid}, {$set:{ 'power':msg.payload}} ];\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":330.0175018310547,"y":151.01049613952637,"wires":[["ded9df65.8ff3c"]]},{"id":"ded9df65.8ff3c","type":"mongodb2 in","z":"c9dee57.2bc1218","service":"_ext_","configNode":"a54c98a8.009c58","name":"","collection":"sonoff","operation":"","x":512.0174560546875,"y":151.01052474975586,"wires":[["f34549cf.42b9f8"]]},{"id":"a92f4da2.40348","type":"ui_switch","z":"c9dee57.2bc1218","name":"","label":"Total power on/off","tooltip":"","group":"2dafa05b.3baf7","order":2,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":144.01739501953125,"y":203.01043701171875,"wires":[["5f48e98e.1123c8"]]},{"id":"5f48e98e.1123c8","type":"function","z":"c9dee57.2bc1218","name":"updateMany","func":"var chipid=global.get(\"chipid\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'updateMany';\nnewMsg.payload    = [{ 'name' : \"light\"}, {$set:{ 'power':msg.payload}} ];\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":330.0174026489258,"y":203.0104465484619,"wires":[["ded9df65.8ff3c"]]},{"id":"be35eef0.efcba","type":"function","z":"c9dee57.2bc1218","name":"find.toArray","func":"var newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = { 'name' : 'light' };\n//newMsg.payload    = { 'power' : 0 };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":275.0173034667969,"y":274.0519790649414,"wires":[["9913e579.395fa8"]]},{"id":"9913e579.395fa8","type":"mongodb2 in","z":"c9dee57.2bc1218","service":"_ext_","configNode":"a54c98a8.009c58","name":"","collection":"sonoff","operation":"","x":433.0346374511719,"y":275.05199241638184,"wires":[["499492de.1b812c"]]},{"id":"499492de.1b812c","type":"function","z":"c9dee57.2bc1218","name":"검색 데이터 글로벌 변수로","func":"for (var i = 0; i < msg.payload.length; i++) \n    global.set(\"selected\"[i], msg.payload[i]);\nglobal.set(\"no\",0);\nglobal.set(\"length\",msg.payload.length);\nreturn  msg;","outputs":1,"noerr":0,"x":642.0345916748047,"y":276.05200386047363,"wires":[[]]},{"id":"d1b597a1.865ad8","type":"function","z":"c9dee57.2bc1218","name":"","func":"var no=global.get(\"no\")||0;\nvar length=global.get(\"length\")||0;\nif(no<length) {\n    msg.payload=global.get(\"selected\"[no]);\n    var newMsg ={};\n    newMsg.payload={\"chipid\":msg.payload.chipid,\"act\":\"write\",\"power\":msg.payload.power};\n    no+=1;\n    global.set(\"no\",no);\n    return  newMsg;\n}","outputs":1,"noerr":0,"x":307.0765266418457,"y":355.76388454437256,"wires":[["5ae69b0c.3e6b84","486b1ac2.e2e1f4"]]},{"id":"9e17dca3.99bbf","type":"inject","z":"c9dee57.2bc1218","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":158.01737594604492,"y":356.01042079925537,"wires":[["d1b597a1.865ad8"]]},{"id":"f34549cf.42b9f8","type":"delay","z":"c9dee57.2bc1218","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":118.0694580078125,"y":273.68405628204346,"wires":[["be35eef0.efcba"]]},{"id":"486b1ac2.e2e1f4","type":"debug","z":"c9dee57.2bc1218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":447.07643127441406,"y":424.68058013916016,"wires":[]},{"id":"2b8118be.c42bb8","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2dafa05b.3baf7","type":"ui_group","z":"","name":"Sonoff DB 제어","tab":"a607f038.930cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"a54c98a8.009c58","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/db","name":"db","options":"","parallelism":""},{"id":"a607f038.930cc","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]