9-3-6 Node-red Program(AWS sonoff worldmap).txt
[{"id":"1d1fd2bf.d33e4d","type":"tab","label":"worldmap","disabled":false,"info":""},{"id":"a2f99eae.ced4d","type":"function","z":"1d1fd2bf.d33e4d","name":"배열","func":"msg.payload =  [{\n    name:\"a\",\n    lat:37,\n    lon:127,\n    icon:\"power-off\",\n    iconColor:'black',\n},\n{\n    name:\"b\",\n    lat:37,\n    lon:126,\n    icon:\"power-off\",\n    iconColor:'red',\n}]\n;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[[]]},{"id":"710524c1.dfa05c","type":"inject","z":"1d1fd2bf.d33e4d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":176.23609161376953,"y":99.18751239776611,"wires":[["a2f99eae.ced4d"]]},{"id":"4afe1af.a1b45e4","type":"function","z":"1d1fd2bf.d33e4d","name":"한개","func":"msg.payload =  {\n    name:\"c\",\n    lat:37,\n    lon:126.5,\n    icon:\"power-off\",\n    iconColor:\"black\",\n};\nreturn msg;","outputs":1,"noerr":0,"x":328.9999694824219,"y":153.00001049041748,"wires":[[]]},{"id":"b4a3cd82.5dc0a","type":"inject","z":"1d1fd2bf.d33e4d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":179.2361068725586,"y":153.19214725494385,"wires":[["4afe1af.a1b45e4"]]},{"id":"ef06fedc.beddb","type":"worldmap","z":"1d1fd2bf.d33e4d","name":"","lat":"37.5","lon":"126.5","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","path":"/worldmap","x":720,"y":320,"wires":[]},{"id":"4a093f2.af05ec","type":"worldmap in","z":"1d1fd2bf.d33e4d","name":"","path":"/worldmap","x":180,"y":420,"wires":[["9aa5dc02.0af63"]]},{"id":"af972045.628","type":"mongodb2 in","z":"1d1fd2bf.d33e4d","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":450,"y":320,"wires":[["11c3ddaf.9641e2"]]},{"id":"9095954b.5e3ac8","type":"function","z":"1d1fd2bf.d33e4d","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : 'a'};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":300,"y":320,"wires":[["af972045.628"]]},{"id":"4e759bfc.cc4f04","type":"inject","z":"1d1fd2bf.d33e4d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["9095954b.5e3ac8"]]},{"id":"11c3ddaf.9641e2","type":"function","z":"1d1fd2bf.d33e4d","name":"한개","func":"var newMsg={};\nvar on,color;\nif(msg.payload.on==1) {\n    on=\"power-on\";\n    color=\"red\";\n}\nelse {\n    on=\"power-off\";\n    color=\"black\";\n}\nnewMsg.payload =  {\n    name:msg.payload.chip,\n    lat:msg.payload.lat,\n    lon:msg.payload.lon,\n    icon:on,\n    iconColor:color,\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":590,"y":320,"wires":[["ef06fedc.beddb"]]},{"id":"5650125e.c84c1c","type":"mongodb2 in","z":"1d1fd2bf.d33e4d","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":470,"y":420,"wires":[["505dde23.ff9f2","954df553.238878"]]},{"id":"9aa5dc02.0af63","type":"function","z":"1d1fd2bf.d33e4d","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : msg.payload.name};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":320,"y":420,"wires":[["5650125e.c84c1c"]]},{"id":"505dde23.ff9f2","type":"function","z":"1d1fd2bf.d33e4d","name":"findOneAndUpdate","func":"var newMsg = {};\nvar on;\nif(msg.payload.on==0)\n    on=1;\nelse\n    on=0;\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'on':on}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":670,"y":420,"wires":[["83c098dd.242a78","ee3e51d3.af064"]]},{"id":"ee3e51d3.af064","type":"debug","z":"1d1fd2bf.d33e4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":500,"wires":[]},{"id":"83c098dd.242a78","type":"mongodb2 in","z":"1d1fd2bf.d33e4d","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":850,"y":420,"wires":[["9095954b.5e3ac8"]]},{"id":"954df553.238878","type":"debug","z":"1d1fd2bf.d33e4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":520,"wires":[]},{"id":"dcbfb6eb.1d4318","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/dbTest","name":"dbTest","options":"","parallelism":""}]