9-5-2 AWS와 sonnoff 를 연결 지도 worldmap 으로 제어.txt
[{"id":"1d1fd2bf.d33e4d","type":"tab","label":"worldmap","disabled":false,"info":""},{"id":"a2f99eae.ced4d","type":"function","z":"1d1fd2bf.d33e4d","name":"배열","func":"msg.payload =  [{\n    name:\"a\",\n    lat:37,\n    lon:127,\n    icon:\"power-off\",\n    iconColor:'black',\n},\n{\n    name:\"b\",\n    lat:37,\n    lon:126,\n    icon:\"power-on\",\n    iconColor:'red',\n}]\n;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[[]]},{"id":"710524c1.dfa05c","type":"inject","z":"1d1fd2bf.d33e4d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":176.23609161376953,"y":99.18751239776611,"wires":[["a2f99eae.ced4d"]]},{"id":"4afe1af.a1b45e4","type":"function","z":"1d1fd2bf.d33e4d","name":"한개","func":"msg.payload =  {\n    name:\"c\",\n    lat:37,\n    lon:126.5,\n    icon:\"power-off\",\n    iconColor:\"black\",\n};\nreturn msg;","outputs":1,"noerr":0,"x":324.9999694824219,"y":153.00001049041748,"wires":[[]]},{"id":"b4a3cd82.5dc0a","type":"inject","z":"1d1fd2bf.d33e4d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":175.2361068725586,"y":153.19214725494385,"wires":[["4afe1af.a1b45e4"]]},{"id":"ef06fedc.beddb","type":"worldmap","z":"1d1fd2bf.d33e4d","name":"","lat":"37.6547","lon":"126.7944","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","path":"/worldmap","x":760,"y":260,"wires":[]},{"id":"4a093f2.af05ec","type":"worldmap in","z":"1d1fd2bf.d33e4d","name":"","path":"/worldmap","x":140,"y":320,"wires":[["9aa5dc02.0af63"]]},{"id":"af972045.628","type":"mongodb2 in","z":"1d1fd2bf.d33e4d","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":470,"y":260,"wires":[["11c3ddaf.9641e2","3aebb397.975bbc"]]},{"id":"9095954b.5e3ac8","type":"function","z":"1d1fd2bf.d33e4d","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : 'a'};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["af972045.628"]]},{"id":"4e759bfc.cc4f04","type":"inject","z":"1d1fd2bf.d33e4d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["9095954b.5e3ac8"]]},{"id":"11c3ddaf.9641e2","type":"function","z":"1d1fd2bf.d33e4d","name":"한개","func":"var newMsg={};\nvar on,color;\nif(msg.payload.on==1) {\n    on=\"power-on\";\n    color=\"red\";\n}\nelse {\n    on=\"power-off\";\n    color=\"black\";\n}\nnewMsg.payload =  {\n    name:msg.payload.chip,\n    lat:msg.payload.lat,\n    lon:msg.payload.lon,\n    icon:on,\n    iconColor:color,\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["ef06fedc.beddb"]]},{"id":"5650125e.c84c1c","type":"mongodb2 in","z":"1d1fd2bf.d33e4d","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":450,"y":320,"wires":[["505dde23.ff9f2"]]},{"id":"9aa5dc02.0af63","type":"function","z":"1d1fd2bf.d33e4d","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : msg.payload.name};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":300,"y":320,"wires":[["5650125e.c84c1c"]]},{"id":"505dde23.ff9f2","type":"function","z":"1d1fd2bf.d33e4d","name":"findOneAndUpdate","func":"var newMsg = {};\nvar on;\nif(msg.payload.on==0)\n    on=1;\nelse\n    on=0;\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'on':on}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":650,"y":320,"wires":[["83c098dd.242a78"]]},{"id":"83c098dd.242a78","type":"mongodb2 in","z":"1d1fd2bf.d33e4d","service":"_ext_","configNode":"dcbfb6eb.1d4318","name":"dbTest Data","collection":"","operation":"","x":830,"y":320,"wires":[["9095954b.5e3ac8"]]},{"id":"2b9b739b.79c17c","type":"comment","z":"1d1fd2bf.d33e4d","name":"소스프로그램 사이트","info":"https://github.com/kdi6033/HomeAuto/blob/master/9-3-6%20Node-red%20Program(AWS%20sonoff%20worldmap).txt","x":170,"y":40,"wires":[]},{"id":"41dfc1d3.a0c1c","type":"mqtt out","z":"1d1fd2bf.d33e4d","name":"","topic":"inTopic","qos":"","retain":"","broker":"cd070f43.2e4a5","x":760,"y":200,"wires":[]},{"id":"3aebb397.975bbc","type":"function","z":"1d1fd2bf.d33e4d","name":"","func":"msg.payload=\"{'on':\"+msg.payload.on+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["41dfc1d3.a0c1c"]]},{"id":"6d2ed508.e729ac","type":"ui_switch","z":"1d1fd2bf.d33e4d","name":"","label":"switch","tooltip":"","group":"f63973ea.9cf6f","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":450,"y":440,"wires":[["4520a968.f3c898"]]},{"id":"4520a968.f3c898","type":"function","z":"1d1fd2bf.d33e4d","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'lamp';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'on':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":620,"y":440,"wires":[["83c098dd.242a78"]]},{"id":"291bac84.bbecf4","type":"debug","z":"1d1fd2bf.d33e4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":140,"wires":[]},{"id":"dcbfb6eb.1d4318","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/dbTest","name":"dbTest","options":"","parallelism":""},{"id":"cd070f43.2e4a5","type":"mqtt-broker","z":"","name":"","broker":"zonaws.com","port":"8883","tls":"6a0d8da7.b07f74","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f63973ea.9cf6f","type":"ui_group","z":"","name":"Group 1","tab":"38fe06d6.ad532a","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a0d8da7.b07f74","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"38fe06d6.ad532a","type":"ui_tab","name":"Tab 7","icon":"dashboard","order":7}]