9-5-1 Node-red AWS sonoff .txt
[{"id":"3b03773c.4ac678","type":"mqtt out","z":"a0e11765.4a8cf8","name":"","topic":"inTopic","qos":"","retain":"","broker":"cd070f43.2e4a5","x":490,"y":160,"wires":[]},{"id":"a3ad553d.7a2958","type":"ui_switch","z":"a0e11765.4a8cf8","name":"","label":"switch","tooltip":"","group":"f63973ea.9cf6f","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":230,"y":160,"wires":[["565285f3.9ad25c"]]},{"id":"565285f3.9ad25c","type":"function","z":"a0e11765.4a8cf8","name":"","func":"msg.payload=\"{'on':\"+msg.payload+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["3b03773c.4ac678"]]},{"id":"cd070f43.2e4a5","type":"mqtt-broker","z":"","name":"","broker":"local","port":"8883","tls":"6a0d8da7.b07f74","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f63973ea.9cf6f","type":"ui_group","z":"","name":"Group 1","tab":"38fe06d6.ad532a","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a0d8da7.b07f74","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"38fe06d6.ad532a","type":"ui_tab","name":"Tab 7","icon":"dashboard","order":7}]