9-9-4 Control Sonoff DIY Mode with node-Red/9-9-4 node red.txt
[{"id":"de8df0d3.74028","type":"inject","z":"6c2b06d2.9acaa8","name":"On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"deviceid\":\"\",\"data\":{\"switch\":\"on\"}}","payloadType":"json","x":130,"y":100,"wires":[["f55bab7.a9d8e58"]]},{"id":"8b89e26f.b8795","type":"inject","z":"6c2b06d2.9acaa8","name":"Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"deviceid\":\"10010b2d0d\",\"data\":{\"switch\":\"off\"}}","payloadType":"json","x":130,"y":160,"wires":[["f55bab7.a9d8e58"]]},{"id":"f55bab7.a9d8e58","type":"http request","z":"6c2b06d2.9acaa8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.9:8081/zeroconf/switch","tls":"","persist":false,"proxy":"","authType":"basic","x":380,"y":140,"wires":[["e83bb557.b81528"]]},{"id":"e83bb557.b81528","type":"debug","z":"6c2b06d2.9acaa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":140,"wires":[]},{"id":"8312bbf6.335028","type":"ui_switch","z":"6c2b06d2.9acaa8","name":"","label":"Switch","tooltip":"","group":"5d7f6caa.7bff84","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":140,"y":300,"wires":[["d1c42dd0.14938"]]},{"id":"d1c42dd0.14938","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"deviceid\":\"\",\"data\":{\"switch\":msg.payload}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[["a4f7d24d.c8b91"]]},{"id":"d33310e6.fa56","type":"debug","z":"6c2b06d2.9acaa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":240,"wires":[]},{"id":"a4f7d24d.c8b91","type":"http request","z":"6c2b06d2.9acaa8","name":"Switch request","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.9:8081/zeroconf/switch","tls":"","persist":false,"proxy":"","authType":"basic","x":580,"y":300,"wires":[["347cd101.3f963e"]]},{"id":"3288077a.382d48","type":"ui_text","z":"6c2b06d2.9acaa8","group":"5d7f6caa.7bff84","order":4,"width":0,"height":0,"name":"","label":"Command sequence","format":"{{msg.payload.seq}}","layout":"row-spread","x":980,"y":320,"wires":[]},{"id":"347cd101.3f963e","type":"json","z":"6c2b06d2.9acaa8","name":"","property":"payload","action":"","pretty":false,"x":770,"y":320,"wires":[["3288077a.382d48","87b70c95.75146","d33310e6.fa56"]]},{"id":"87b70c95.75146","type":"ui_text","z":"6c2b06d2.9acaa8","group":"5d7f6caa.7bff84","order":5,"width":0,"height":0,"name":"","label":"Last return code","format":"{{msg.payload.error}}","layout":"row-spread","x":960,"y":380,"wires":[]},{"id":"e8d06c22.22524","type":"ui_dropdown","z":"6c2b06d2.9acaa8","name":"","label":"Power on state","tooltip":"","place":"Select option","group":"5d7f6caa.7bff84","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"On","value":"on","type":"str"},{"label":"Off","value":"off","type":"str"},{"label":"Last state","value":"stay","type":"str"}],"payload":"","topic":"","x":160,"y":420,"wires":[["343cea0d.b9a776"]]},{"id":"343cea0d.b9a776","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"deviceid\":\"\",\"data\":{\"startup\":msg.payload}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":420,"wires":[["64176aa1.285664"]]},{"id":"64176aa1.285664","type":"http request","z":"6c2b06d2.9acaa8","name":"Startup Request","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.9:8081/zeroconf/startup","tls":"","persist":false,"proxy":"","authType":"basic","x":580,"y":420,"wires":[["347cd101.3f963e"]]},{"id":"28e7a76e.471ff8","type":"inject","z":"6c2b06d2.9acaa8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"deviceid\":\"\",\"data\":{}}","payloadType":"json","x":150,"y":540,"wires":[["ab8729fe.3bcad8"]]},{"id":"ab8729fe.3bcad8","type":"http request","z":"6c2b06d2.9acaa8","name":"Signal Strength Request","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.9:8081/zeroconf/signal_strength","tls":"","persist":false,"proxy":"","authType":"basic","x":550,"y":540,"wires":[["347cd101.3f963e","ab60a280.16eba"]]},{"id":"b25a5c34.93267","type":"json","z":"6c2b06d2.9acaa8","name":"","property":"payload","action":"","pretty":false,"x":790,"y":580,"wires":[["a02905b3.848b98"]]},{"id":"a02905b3.848b98","type":"ui_text","z":"6c2b06d2.9acaa8","group":"5d7f6caa.7bff84","order":6,"width":0,"height":0,"name":"","label":"Signal Strength","format":"{{msg.payload.data.signalStrength}}","layout":"row-spread","x":960,"y":620,"wires":[]},{"id":"ab60a280.16eba","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$replace(msg.payload, '\\\\\"', '\"')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":500,"wires":[["34877799.476578"]]},{"id":"34877799.476578","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$replace(msg.payload, '\"{', '{')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":500,"wires":[["31aacd4d.099bc2"]]},{"id":"31aacd4d.099bc2","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$replace(msg.payload, '}\"', '}')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":500,"wires":[["b25a5c34.93267","347cd101.3f963e"]]},{"id":"dcb6a57f.36cc98","type":"inject","z":"6c2b06d2.9acaa8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"deviceid\":\"\",\"data\":{}}","payloadType":"json","x":150,"y":700,"wires":[["28dd936e.f0b50c"]]},{"id":"28dd936e.f0b50c","type":"http request","z":"6c2b06d2.9acaa8","name":"Info Request","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.9:8081/zeroconf/info","tls":"","persist":false,"proxy":"","authType":"basic","x":510,"y":700,"wires":[["58b8dc72.0ed164"]]},{"id":"94aef102.a6823","type":"debug","z":"6c2b06d2.9acaa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":860,"wires":[]},{"id":"58b8dc72.0ed164","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$replace(msg.payload, '\\\\\"', '\"')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":700,"wires":[["f5c4ffb4.f4166"]]},{"id":"f5c4ffb4.f4166","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$replace(msg.payload, '\"{', '{')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":700,"wires":[["65941392.6b398c"]]},{"id":"65941392.6b398c","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$replace(msg.payload, '}\"', '}')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":700,"wires":[["832212e9.d3832","347cd101.3f963e"]]},{"id":"832212e9.d3832","type":"json","z":"6c2b06d2.9acaa8","name":"","property":"payload","action":"","pretty":false,"x":930,"y":760,"wires":[["94aef102.a6823","a204bb5a.a4ee78"]]},{"id":"a204bb5a.a4ee78","type":"ui_template","z":"6c2b06d2.9acaa8","group":"5d7f6caa.7bff84","name":"Relay","order":2,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Relay</p>\n    <p ng-style=\"{color: msg.payload.data.switch === 'on' ? 'blue' : 'grey'}\">\n        <b>{{(msg.payload.data.switch === 'on') ? 'ON' : 'OFF'}}</b>\n    </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1090,"y":860,"wires":[[]]},{"id":"961c87d2.cd94d8","type":"comment","z":"6c2b06d2.9acaa8","name":"Sonoff Basic R3","info":"","x":120,"y":220,"wires":[]},{"id":"c4a0c353.2b252","type":"ui_switch","z":"6c2b06d2.9acaa8","name":"","label":"Switch","tooltip":"","group":"12f1fb51.788ef5","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":150,"y":1040,"wires":[["1a35bc32.221554"]]},{"id":"1a35bc32.221554","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"deviceid\":\"\",\"data\":{\"switch\":msg.payload}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1040,"wires":[["30b1b0cb.de68f"]]},{"id":"4f03ab23.de7264","type":"debug","z":"6c2b06d2.9acaa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":980,"wires":[]},{"id":"30b1b0cb.de68f","type":"http request","z":"6c2b06d2.9acaa8","name":"Switch request","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.193:8081/zeroconf/switch","tls":"","proxy":"","authType":"basic","x":590,"y":1040,"wires":[["3a8a1bd6.17c5f4"]]},{"id":"e092eb3e.610b18","type":"ui_text","z":"6c2b06d2.9acaa8","group":"12f1fb51.788ef5","order":4,"width":0,"height":0,"name":"","label":"Command sequence","format":"{{msg.payload.seq}}","layout":"row-spread","x":990,"y":1060,"wires":[]},{"id":"3a8a1bd6.17c5f4","type":"json","z":"6c2b06d2.9acaa8","name":"","property":"payload","action":"","pretty":false,"x":780,"y":1060,"wires":[["e092eb3e.610b18","293bc3e7.1d804c","4f03ab23.de7264"]]},{"id":"293bc3e7.1d804c","type":"ui_text","z":"6c2b06d2.9acaa8","group":"12f1fb51.788ef5","order":5,"width":0,"height":0,"name":"","label":"Last return code","format":"{{msg.payload.error}}","layout":"row-spread","x":970,"y":1120,"wires":[]},{"id":"e85d27f7.f18ef8","type":"ui_dropdown","z":"6c2b06d2.9acaa8","name":"","label":"Power on state","tooltip":"","place":"Select option","group":"12f1fb51.788ef5","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"On","value":"on","type":"str"},{"label":"Off","value":"off","type":"str"},{"label":"Last state","value":"stay","type":"str"}],"payload":"","topic":"","x":170,"y":1160,"wires":[["e7ddae4d.8e77f"]]},{"id":"e7ddae4d.8e77f","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"deviceid\":\"\",\"data\":{\"startup\":msg.payload}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1160,"wires":[["c8cdf78e.d22598"]]},{"id":"c8cdf78e.d22598","type":"http request","z":"6c2b06d2.9acaa8","name":"Startup Request","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.193:8081/zeroconf/startup","tls":"","proxy":"","authType":"basic","x":590,"y":1160,"wires":[["3a8a1bd6.17c5f4"]]},{"id":"d805fdee.53612","type":"inject","z":"6c2b06d2.9acaa8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"deviceid\":\"\",\"data\":{}}","payloadType":"json","x":160,"y":1280,"wires":[["ac677b79.b28b18"]]},{"id":"ac677b79.b28b18","type":"http request","z":"6c2b06d2.9acaa8","name":"Signal Strength Request","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.9:8081/zeroconf/signal_strength","tls":"","persist":false,"proxy":"","authType":"basic","x":560,"y":1280,"wires":[["3a8a1bd6.17c5f4","c7e1ef66.14926"]]},{"id":"4d31ba73.58dc34","type":"json","z":"6c2b06d2.9acaa8","name":"","property":"payload","action":"","pretty":false,"x":800,"y":1320,"wires":[["383e55b3.9989aa"]]},{"id":"383e55b3.9989aa","type":"ui_text","z":"6c2b06d2.9acaa8","group":"12f1fb51.788ef5","order":6,"width":0,"height":0,"name":"","label":"Signal Strength","format":"{{msg.payload.data.signalStrength}}","layout":"row-spread","x":970,"y":1360,"wires":[]},{"id":"c7e1ef66.14926","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$replace(msg.payload, '\\\\\"', '\"')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1240,"wires":[["b958648d.55ea98"]]},{"id":"b958648d.55ea98","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$replace(msg.payload, '\"{', '{')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1240,"wires":[["e481c534.8c6188"]]},{"id":"e481c534.8c6188","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$replace(msg.payload, '}\"', '}')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1240,"wires":[["4d31ba73.58dc34","3a8a1bd6.17c5f4"]]},{"id":"3ec5bcc6.f9a194","type":"inject","z":"6c2b06d2.9acaa8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"deviceid\":\"\",\"data\":{}}","payloadType":"json","x":160,"y":1440,"wires":[["85e916bf.d41ba8"]]},{"id":"85e916bf.d41ba8","type":"http request","z":"6c2b06d2.9acaa8","name":"Info Request","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.193:8081/zeroconf/info","tls":"","proxy":"","authType":"basic","x":520,"y":1440,"wires":[["1a9d7704.a65919"]]},{"id":"1e94574c.52aca9","type":"debug","z":"6c2b06d2.9acaa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":1600,"wires":[]},{"id":"1a9d7704.a65919","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$replace(msg.payload, '\\\\\"', '\"')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1440,"wires":[["e46205c0.f1ed08"]]},{"id":"e46205c0.f1ed08","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$replace(msg.payload, '\"{', '{')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1440,"wires":[["b365f09b.82944"]]},{"id":"b365f09b.82944","type":"change","z":"6c2b06d2.9acaa8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$replace(msg.payload, '}\"', '}')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1440,"wires":[["f41e4746.3f1518","3a8a1bd6.17c5f4"]]},{"id":"f41e4746.3f1518","type":"json","z":"6c2b06d2.9acaa8","name":"","property":"payload","action":"","pretty":false,"x":940,"y":1500,"wires":[["1e94574c.52aca9","f2be2f6b.98b83"]]},{"id":"f2be2f6b.98b83","type":"ui_template","z":"6c2b06d2.9acaa8","group":"12f1fb51.788ef5","name":"Relay","order":2,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Relay</p>\n    <p ng-style=\"{color: msg.payload.data.switch === 'on' ? 'blue' : 'grey'}\">\n        <b>{{(msg.payload.data.switch === 'on') ? 'ON' : 'OFF'}}</b>\n    </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1100,"y":1600,"wires":[[]]},{"id":"36975c61.37d6e4","type":"comment","z":"6c2b06d2.9acaa8","name":"Sonoff Mini","info":"","x":110,"y":960,"wires":[]},{"id":"c633ef87.adc53","type":"comment","z":"6c2b06d2.9acaa8","name":"","info":"참조유튜브 : https://www.youtube.com/watch?v=HjzCxA9Fal8&t=527s\n\nDIY 문서\nhttps://github.com/itead/Sonoff_Devices_DIY_Tools/blob/master/SONOFF%20DIY%20MODE%20Protocol%20Doc%20v2.0%20Doc.pdf\n\n소스코드\nhttps://drive.google.com/file/d/1ana6jGB2N0aOjKXdl945Dv2u2o3dfeTq/view","x":410,"y":60,"wires":[]},{"id":"5d7f6caa.7bff84","type":"ui_group","name":"Sonoff Basic R3","tab":"3dedda8a.841826","order":1,"disp":true,"width":"6","collapse":false},{"id":"12f1fb51.788ef5","type":"ui_group","name":"Sonoff Mini","tab":"3dedda8a.841826","order":2,"disp":true,"width":"6","collapse":false},{"id":"3dedda8a.841826","type":"ui_tab","name":"Sonoff DIY","icon":"dashboard","disabled":false,"hidden":false}]