9-9-3 Control Sonoff with node-Red/9-9-3 node red.txt
[{"id":"a68a5595.876498","type":"inject","z":"1deabda9.376e62","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["8352eb3c.3cca18"]]},{"id":"94bd66f6.2310b8","type":"debug","z":"1deabda9.376e62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":120,"wires":[]},{"id":"298412a9.c2555e","type":"inject","z":"1deabda9.376e62","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"toggle","payloadType":"str","x":130,"y":180,"wires":[["c20c21b4.a0379"]]},{"id":"1072baf5.3e1ec5","type":"debug","z":"1deabda9.376e62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":420,"y":180,"wires":[]},{"id":"e2ddfab4.780cc8","type":"comment","z":"1deabda9.376e62","name":"유튜브","info":"https://www.youtube.com/watch?v=DbBqa-rq31g&feature=youtu.be","x":110,"y":60,"wires":[]},{"id":"8352eb3c.3cca18","type":"ewelink-devices","z":"1deabda9.376e62","name":"kdi","auth":"55830c7e.6b89a4","x":280,"y":120,"wires":[["94bd66f6.2310b8"]]},{"id":"c20c21b4.a0379","type":"ewelink-power-state-write","z":"1deabda9.376e62","name":"거실불","deviceId":"1000b91514","channel":1,"auth":"1a78dfa2.94e68","x":270,"y":180,"wires":[["1072baf5.3e1ec5"]]},{"id":"928e5166.37ffd","type":"inject","z":"1deabda9.376e62","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":130,"y":240,"wires":[["c20c21b4.a0379"]]},{"id":"3b63bd6d.2debc2","type":"inject","z":"1deabda9.376e62","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":300,"wires":[["c20c21b4.a0379"]]},{"id":"d7ba8952.b5ff08","type":"ui_switch","z":"1deabda9.376e62","name":"","label":"switch","tooltip":"","group":"5d7f6caa.7bff84","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":110,"y":360,"wires":[["c20c21b4.a0379"]]},{"id":"55830c7e.6b89a4","type":"ewelink-credentials"},{"id":"1a78dfa2.94e68","type":"ewelink-credentials"},{"id":"5d7f6caa.7bff84","type":"ui_group","name":"Sonoff Basic R3","tab":"3dedda8a.841826","order":1,"disp":true,"width":"6","collapse":false},{"id":"3dedda8a.841826","type":"ui_tab","name":"Sonoff DIY","icon":"dashboard","disabled":false,"hidden":false}]