9-3_1_Snoff Mqtt Web/9-3-1 node-red program.txt
[{"id":"5141a8b0.7e1df8","type":"mqtt out","z":"f757c4e5.32b1e8","name":"","topic":"/i2r_sonoff/outTopic","qos":"","retain":"","broker":"75e5e77.aff4618","x":386.0104064941406,"y":211.48270797729492,"wires":[]},{"id":"8bbcc297.6b3fd","type":"mqtt in","z":"f757c4e5.32b1e8","name":"","topic":"/i2r_sonoff/inTopic","qos":"2","broker":"75e5e77.aff4618","x":111.0000114440918,"y":95.8160047531128,"wires":[["6c34916a.db7f7"]]},{"id":"7f079ba4.d7a904","type":"ui_switch","z":"f757c4e5.32b1e8","name":"","label":"power","tooltip":"","group":"9720700c.6cb9b","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":69.9444580078125,"y":212.99998664855957,"wires":[["6166dd27.7dbfd4"]]},{"id":"6166dd27.7dbfd4","type":"function","z":"f757c4e5.32b1e8","name":"¾²±â","func":"msg.payload=\"{\\\"chipid\\\":\\\"d5a5b3\\\"\\, \\\"act\\\":\\\"write\\\"\\,\\\"power\\\":\"+msg.payload+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":200.9444580078125,"y":211.99999904632568,"wires":[["5141a8b0.7e1df8"]]},{"id":"6c34916a.db7f7","type":"json","z":"f757c4e5.32b1e8","name":"","property":"payload","action":"","pretty":false,"x":281.9965286254883,"y":95.85417652130127,"wires":[["490af6d7.157b78"]]},{"id":"269057f9.b410d8","type":"inject","z":"f757c4e5.32b1e8","name":"act:read","topic":"","payload":"{\"chipid\":\"d5a5b3\", \"act\":\"read\"}","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":127.94442749023438,"y":281.0000514984131,"wires":[["5141a8b0.7e1df8"]]},{"id":"490af6d7.157b78","type":"function","z":"f757c4e5.32b1e8","name":"","func":"msg.payload=msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":415.0833168029785,"y":96.75346946716309,"wires":[["2d7949ad.2db676","9dfb5983.4b5f58"]]},{"id":"2d7949ad.2db676","type":"ui_led","z":"f757c4e5.32b1e8","group":"9720700c.6cb9b","order":1,"label":"","colorForValue":[{"color":"gray","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"name":"","x":546.0694732666016,"y":97.16320037841797,"wires":[]},{"id":"9dfb5983.4b5f58","type":"debug","z":"f757c4e5.32b1e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":538.0833282470703,"y":144.55902862548828,"wires":[]},{"id":"75e5e77.aff4618","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9720700c.6cb9b","type":"ui_group","z":"","name":"Sonoff","tab":"91867404.5e9e48","disp":true,"width":"9","collapse":false},{"id":"91867404.5e9e48","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]