9-10-1 sonoff & Tasmota, mqtt와 http, node-red/9-10-1 node red.txt
[{"id":"2e8ab6d2.9d65da","type":"mqtt in","z":"f917f406.c5b378","name":"","topic":"stat/Sonoff5/#","qos":"0","datatype":"auto","broker":"cea5258a.b34038","x":150,"y":80,"wires":[["30f8497b.e05036"]]},{"id":"832de6a9.de7188","type":"debug","z":"f917f406.c5b378","name":"","active":true,"console":"false","complete":"false","x":790,"y":140,"wires":[]},{"id":"4f0af53.aa6300c","type":"mqtt out","z":"f917f406.c5b378","name":"","topic":"cmnd/Sonoff5/power","qos":"0","retain":"","broker":"cea5258a.b34038","x":400,"y":300,"wires":[]},{"id":"c7067c81.efe6a","type":"inject","z":"f917f406.c5b378","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":170,"y":300,"wires":[["4f0af53.aa6300c"]]},{"id":"914ee4a5.df5e88","type":"inject","z":"f917f406.c5b378","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"on","payloadType":"str","x":170,"y":340,"wires":[["4f0af53.aa6300c"]]},{"id":"36c86ab.44fe896","type":"inject","z":"f917f406.c5b378","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"toggle","payloadType":"str","x":170,"y":380,"wires":[["4f0af53.aa6300c"]]},{"id":"300a5f45.20de5","type":"comment","z":"f917f406.c5b378","name":"Subscribe to all messages","info":"This is just to subscribe to all messages \ncoming from ESPurna. You can turn this off\nonce you are completed the setup.\n\nHere I put the same topic ID as what I entered\non the UI and # at the end.","x":150,"y":40,"wires":[]},{"id":"2ac81e34.32f4a2","type":"comment","z":"f917f406.c5b378","name":"MQTT control","info":"Controlling the relay via MQTT\n\nroot topic followed by relay/0/set\naccepted messages:\n0: off\n1: on\n2: toggle","x":130,"y":260,"wires":[]},{"id":"78d022c4.ac0d8c","type":"mqtt out","z":"f917f406.c5b378","name":"","topic":"cmnd/Sonoff5/status","qos":"0","retain":"","broker":"cea5258a.b34038","x":380,"y":200,"wires":[]},{"id":"7947d857.465388","type":"inject","z":"f917f406.c5b378","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"0","payloadType":"num","x":150,"y":200,"wires":[["78d022c4.ac0d8c"]]},{"id":"f43773eb.4cdbe","type":"json","z":"f917f406.c5b378","name":"","pretty":false,"x":610,"y":80,"wires":[["832de6a9.de7188"]]},{"id":"30f8497b.e05036","type":"switch","z":"f917f406.c5b378","name":"JSON format?","property":"$substring(msg.payload, 0, 1)=\"{\"","propertyType":"jsonata","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":380,"y":80,"wires":[["f43773eb.4cdbe"],["832de6a9.de7188"]]},{"id":"a128c2cc.2e0ba","type":"inject","z":"f917f406.c5b378","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"blink","payloadType":"str","x":170,"y":420,"wires":[["4f0af53.aa6300c"]]},{"id":"2264b968.468f66","type":"mqtt in","z":"f917f406.c5b378","name":"","topic":"tele/Sonoff5/#","qos":"0","broker":"cea5258a.b34038","x":150,"y":140,"wires":[["30f8497b.e05036"]]},{"id":"439e8d82.61d074","type":"comment","z":"f917f406.c5b378","name":"Control from UI","info":"This section shows a simple dashboard UI to \ncontrol and display the status of the unit.\n\nI use MQTT to control it, but it could also be\nHTTP as well.","x":120,"y":840,"wires":[]},{"id":"137e1ae5.f4bfb5","type":"ui_switch","z":"f917f406.c5b378","name":"","label":"Switch relay","tooltip":"","group":"12e8425e.99449e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":150,"y":880,"wires":[["c5de512a.b7fe2"]]},{"id":"c5de512a.b7fe2","type":"mqtt out","z":"f917f406.c5b378","name":"","topic":"cmnd/Sonoff5/power","qos":"0","retain":"","broker":"cea5258a.b34038","x":540,"y":880,"wires":[]},{"id":"3b72f1dc.6a2fee","type":"ui_button","z":"f917f406.c5b378","name":"","group":"12e8425e.99449e","order":2,"width":0,"height":0,"passthru":false,"label":"Toggle relay","tooltip":"","color":"","bgcolor":"","icon":"","payload":"toggle","payloadType":"str","topic":"","x":150,"y":920,"wires":[["c5de512a.b7fe2"]]},{"id":"bd325487.7fe3f8","type":"ui_template","z":"f917f406.c5b378","group":"12e8425e.99449e","name":"Relay state","order":3,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Relay state</p>\n    <p ng-style=\"{color: msg.payload === 'ON' ? 'blue' : 'grey'}\">\n        <b>{{msg.payload === 'ON' ? 'ON' : 'OFF'}}</b>\n    </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":510,"y":1060,"wires":[[]]},{"id":"bef16271.a416e","type":"mqtt in","z":"f917f406.c5b378","name":"","topic":"stat/Sonoff5/POWER","qos":"0","broker":"cea5258a.b34038","x":180,"y":1060,"wires":[["bd325487.7fe3f8"]]},{"id":"319b9a65.7fbf16","type":"ui_button","z":"f917f406.c5b378","name":"","group":"12e8425e.99449e","order":4,"width":0,"height":0,"passthru":false,"label":"Turn On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":140,"y":960,"wires":[["c5de512a.b7fe2"]]},{"id":"dd3e0ea4.cc24","type":"ui_slider","z":"f917f406.c5b378","name":"","label":"Pulse Time","group":"12e8425e.99449e","order":6,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"200","step":1,"x":150,"y":1140,"wires":[["caa4564c.38c578"]]},{"id":"caa4564c.38c578","type":"mqtt out","z":"f917f406.c5b378","name":"","topic":"cmnd/Sonoff5/PulseTime","qos":"0","retain":"","broker":"cea5258a.b34038","x":610,"y":1140,"wires":[]},{"id":"ed6e59f5.faa768","type":"mqtt in","z":"f917f406.c5b378","name":"","topic":"tele/Sonoff5/STATE","qos":"0","broker":"cea5258a.b34038","x":170,"y":1240,"wires":[["f8253985.d4b528"]]},{"id":"792370be.59b64","type":"function","z":"f917f406.c5b378","name":"Store last update","func":"var devicename = \"Sonoff5\";\n\nvar temp = global.get(devicename+\"_wifi\");\nvar current = new Date();\nif (temp!== undefined && temp!==null) {\n    msg.payload = current.getTime() - temp;\n    global.set(devicename+\"_wifi\",current.getTime());\n} else {\n    msg.payload = \"\";\n    global.set(devicename+\"_wifi\",current.getTime());\n}\n\n// Update the status with current timestamp\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});\n\nmsg.formattedtime = dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1340,"wires":[[]]},{"id":"23d3f770.195438","type":"inject","z":"f917f406.c5b378","name":"","repeat":"1","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":170,"y":1400,"wires":[["5626841a.5636ec"]]},{"id":"5626841a.5636ec","type":"function","z":"f917f406.c5b378","name":"From last update","func":"var devicename = \"Sonoff5\";\n\nvar temp = global.get(devicename+\"_wifi\");\nvar current = new Date();\nmsg.payload = \"No data\";\nmsg.warning = false;\n\nif (temp!==undefined) {\n    current = current - temp;\n    current = Math.floor(current/1000);\n    var minute = Math.floor(current/60);\n    var hour = Math.floor(minute/60);\n    var day = Math.floor(hour/24);\n    if (current>24*60*60) {\n        msg.payload = \"Last update \" + day + \" days, \" + hour%24 + \" hours, \" + minute%60 + \" minutes, \" + current%60 + \" seconds ago\";\n    } else if (current>60*60) {\n        msg.payload = \"Last update \" + hour%24 + \" hours, \" + minute%60 + \" minutes, \" + current%60 + \" seconds ago\";\n    } else if (current>60) {\n        msg.payload = \"Last update \" + minute%60 + \" minutes, \" + current%60 + \" seconds ago\";\n    } else {\n        msg.payload = \"Last update \" + current%60 + \" seconds ago\";\n    }\n\n}\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1400,"wires":[["929c06b3.79a998"]]},{"id":"9d3cc5d1.f5dbc8","type":"ui_text","z":"f917f406.c5b378","group":"12e8425e.99449e","order":7,"width":0,"height":0,"name":"","label":"Uptime","format":"{{msg.payload.Uptime}}","layout":"row-spread","x":620,"y":1240,"wires":[]},{"id":"929c06b3.79a998","type":"ui_text","z":"f917f406.c5b378","group":"12e8425e.99449e","order":9,"width":0,"height":0,"name":"Last Update","label":"","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1400,"wires":[]},{"id":"a85f4f50.56b86","type":"ui_gauge","z":"f917f406.c5b378","name":"Wifi gauge","group":"12e8425e.99449e","order":8,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":"0","max":"100","colors":["#ff0000","#e6e600","#00b500"],"seg1":"","seg2":"","x":830,"y":1300,"wires":[]},{"id":"f8253985.d4b528","type":"json","z":"f917f406.c5b378","name":"","pretty":false,"x":350,"y":1240,"wires":[["9d3cc5d1.f5dbc8","792370be.59b64","88a4101d.d8889"]]},{"id":"fb832d57.f764","type":"inject","z":"f917f406.c5b378","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":180,"y":560,"wires":[["e58ca1cc.6fdd4"]]},{"id":"e58ca1cc.6fdd4","type":"http request","z":"f917f406.c5b378","name":"Relay off","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.11/cm?cmnd=POWER OFF","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":560,"wires":[[]]},{"id":"c655f9b0.ee9e28","type":"inject","z":"f917f406.c5b378","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":180,"y":600,"wires":[["21241006.d98f3"]]},{"id":"21241006.d98f3","type":"http request","z":"f917f406.c5b378","name":"Relay on","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.11/cm?cmnd=POWER ON","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":600,"wires":[[]]},{"id":"844ebac6.f9f2c8","type":"http request","z":"f917f406.c5b378","name":"Relay toggle","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.11/cm?cmnd=POWER TOGGLE","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":640,"wires":[[]]},{"id":"6c590392.fb9e7c","type":"inject","z":"f917f406.c5b378","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":180,"y":640,"wires":[["844ebac6.f9f2c8"]]},{"id":"6d73e70b.5ae0a8","type":"http request","z":"f917f406.c5b378","name":"Status","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.11/cm?cmnd=STATUS","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":700,"wires":[["c36c5382.88068"]]},{"id":"6f3a0cdc.b29784","type":"inject","z":"f917f406.c5b378","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":180,"y":700,"wires":[["6d73e70b.5ae0a8"]]},{"id":"c36c5382.88068","type":"debug","z":"f917f406.c5b378","name":"","active":true,"console":"false","complete":"false","x":570,"y":700,"wires":[]},{"id":"509643fa.2fff2c","type":"comment","z":"f917f406.c5b378","name":"HTTP control","info":"Controlling the relay via HTTP\nHTTP API in the admin page need to be turned off\nCopy the api key from the admin page\n\nURL http://<ip>/api/relay/0?apikey=<api key>&value=0\naccepted values (at the end):\n0: off\n1: on\n2: toggle","x":130,"y":520,"wires":[]},{"id":"d682868b.1b3ba8","type":"ui_button","z":"f917f406.c5b378","name":"","group":"12e8425e.99449e","order":5,"width":0,"height":0,"passthru":false,"label":"Turn Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":140,"y":1000,"wires":[["c5de512a.b7fe2"]]},{"id":"88a4101d.d8889","type":"change","z":"f917f406.c5b378","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Wifi.RSSI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1300,"wires":[["a85f4f50.56b86"]]},{"id":"43334298.54cbbc","type":"comment","z":"f917f406.c5b378","name":"프로그램 참조 사이트","info":"https://flows.nodered.org/flow/a4ddead2a9f502db14d3f7783093ff90","x":410,"y":40,"wires":[]},{"id":"cea5258a.b34038","type":"mqtt-broker","name":"","broker":"192.168.0.3","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"12e8425e.99449e","type":"ui_group","name":"Sonoff Basic","tab":"43af4535.136d5c","order":1,"disp":true,"width":"6"},{"id":"43af4535.136d5c","type":"ui_tab","name":"Tasmota","icon":"dashboard"}]