9-3_2_Snoff Mqtt Web/9-3-2 node-red program.txt
[{"id":"5ae69b0c.3e6b84","type":"mqtt out","z":"c9dee57.2bc1218","name":"","topic":"/i2r_sonoff/outTopic","qos":"","retain":"","broker":"2b8118be.c42bb8","x":864.066047668457,"y":270.0104465484619,"wires":[]},{"id":"ec87e4f.8301518","type":"function","z":"c9dee57.2bc1218","name":"findOne","func":"var chipid=global.get(\"chipid\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chipid' : chipid};\nnewMsg.projection = { 'chipid' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":305.9445266723633,"y":271.01047229766846,"wires":[["6675129.843abec"]]},{"id":"9cea375c.420d68","type":"inject","z":"c9dee57.2bc1218","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":153.00003051757812,"y":270.96881008148193,"wires":[["ec87e4f.8301518"]]},{"id":"6675129.843abec","type":"mongodb2 in","z":"c9dee57.2bc1218","service":"_ext_","configNode":"a54c98a8.009c58","name":"","collection":"sonoff","operation":"","x":453.01742935180664,"y":270.01045989990234,"wires":[["d7837b0f.8ab948"]]},{"id":"7d8c39a.4daa5c8","type":"ui_text_input","z":"c9dee57.2bc1218","name":"","label":"name(chip ID)","tooltip":"","group":"2dafa05b.3baf7","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":382.0694885253906,"y":42.503496170043945,"wires":[["ce4aa27a.eedac"]]},{"id":"ce4aa27a.eedac","type":"function","z":"c9dee57.2bc1218","name":"","func":"global.set(\"chipid\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":545.0799331665039,"y":42.65280342102051,"wires":[[]]},{"id":"d7837b0f.8ab948","type":"function","z":"c9dee57.2bc1218","name":"쓰기(데이타 바뀔 때만)","func":"var oldpower=global.get(\"oldpower\")||0;\nif(msg.payload.power!==oldpower) {\n    global.set(\"oldpower\",msg.payload.power);\n    var chipid=global.get(\"chipid\")||\"\";\n    msg.payload=\"{\\\"chipid\\\":\\\"\"+msg.payload.chipid+\"\\\"\\, \\\"act\\\":\\\"write\\\"\\,\\\"power\\\":\"+msg.payload.power+\"}\";\n    return msg;\n}","outputs":1,"noerr":0,"x":647.0173301696777,"y":270.0104703903198,"wires":[["5ae69b0c.3e6b84"]]},{"id":"45e50e83.510e7","type":"mqtt out","z":"c9dee57.2bc1218","name":"","topic":"/i2r_sonoff/outTopic","qos":"","retain":"","broker":"2b8118be.c42bb8","x":822.0661125183105,"y":129.01043224334717,"wires":[]},{"id":"d9fdcc26.e579a","type":"function","z":"c9dee57.2bc1218","name":"findOne","func":"var newMsg = {};\nnewMsg.payload    = { 'chipid' : 'd5a5b3'};\nnewMsg.projection = { 'chipid' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":304.94453048706055,"y":131.01048755645752,"wires":[["872ecd65.b8e7e"]]},{"id":"ec7310e0.eac5e","type":"inject","z":"c9dee57.2bc1218","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":142.0000343322754,"y":130.968825340271,"wires":[["d9fdcc26.e579a"]]},{"id":"872ecd65.b8e7e","type":"mongodb2 in","z":"c9dee57.2bc1218","service":"_ext_","configNode":"a54c98a8.009c58","name":"","collection":"sonoff","operation":"findOne","x":482.0174331665039,"y":130.0104751586914,"wires":[["7d86a42e.39119c"]]},{"id":"7d86a42e.39119c","type":"function","z":"c9dee57.2bc1218","name":"쓰기","func":"msg.payload=\"{\\\"chipid\\\":\\\"\"+msg.payload.chipid+\"\\\"\\, \\\"act\\\":\\\"write\\\"\\,\\\"power\\\":\"+msg.payload.power+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":651.0173988342285,"y":129.0104637145996,"wires":[["45e50e83.510e7"]]},{"id":"82d0e64a.5e47b8","type":"comment","z":"c9dee57.2bc1218","name":"chipid d5a5b3 으로 실험","info":"","x":159.0833740234375,"y":43.50699520111084,"wires":[]},{"id":"47b9983.faaca68","type":"comment","z":"c9dee57.2bc1218","name":"자동프로그램, automatic program","info":"","x":188.07637786865234,"y":222.5104103088379,"wires":[]},{"id":"5e9f9a4f.14c6a4","type":"comment","z":"c9dee57.2bc1218","name":"수동프로그램, manual program","info":"","x":177.07638549804688,"y":90.5138931274414,"wires":[]},{"id":"2b8118be.c42bb8","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a54c98a8.009c58","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/db","name":"db","options":"","parallelism":""},{"id":"2dafa05b.3baf7","type":"ui_group","z":"","name":"Sonoff DB 제어","tab":"a607f038.930cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"a607f038.930cc","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]