9-6-2 구글스피커를 이용해 sonoff 한글음성으로 제어하기/9-6-2 node-red 프로그램.txt
[{"id":"b21e517.62dc6b","type":"nora-light","z":"2b980664.b8b6ba","devicename":"Àüµî","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Lounge","name":"Àüµî","nora":"6080521f.6543cc","topic":"","onvalue":"ÄÑ","onvalueType":"str","offvalue":"²¨","offvalueType":"str","x":137.01734924316406,"y":549.0104370117188,"wires":[["271f429d.e9808e"]]},{"id":"b2417758.febdc8","type":"mqtt out","z":"2b980664.b8b6ba","name":"","topic":"/i2r_sonoff/outTopic","qos":"","retain":"","broker":"83f8dd2.b554b2","x":594.0173377990723,"y":553.0104293823242,"wires":[]},{"id":"a487543c.2aae78","type":"function","z":"2b980664.b8b6ba","name":"on","func":"msg.payload=\"{\\\"chipid\\\":\\\"f7c3b3\\\",\\\"power\\\":1}\";\nreturn msg;","outputs":1,"noerr":0,"x":410.01733779907227,"y":533.0104141235352,"wires":[["b2417758.febdc8"]]},{"id":"cd106db7.df7ac","type":"function","z":"2b980664.b8b6ba","name":"off","func":"msg.payload=\"{\\\"chipid\\\":\\\"f7c3b3\\\",\\\"power\\\":0}\";\nreturn msg;","outputs":1,"noerr":0,"x":410.01733779907227,"y":573.0104141235352,"wires":[["b2417758.febdc8"]]},{"id":"271f429d.e9808e","type":"switch","z":"2b980664.b8b6ba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ÄÑ","vt":"str"},{"t":"eq","v":"²¨","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":272.0173454284668,"y":548.0104331970215,"wires":[["a487543c.2aae78"],["cd106db7.df7ac"]]},{"id":"6080521f.6543cc","type":"nora-config","z":"","name":"Home config","group":"","notify":false},{"id":"83f8dd2.b554b2","type":"mqtt-broker","z":"","name":"","broker":"mqtt-dashboard.com","port":"1883","tls":"357016bc.6a8a3a","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"357016bc.6a8a3a","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true}]